// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway");

@font-face {
  font-family: PoetsenOne;
  src: url(./fonts/PoetsenOne.woff);
}

// Variables
@import "variables";
// Bootstrap
@import "~bootstrap/scss/bootstrap";
@import "~nprogress/nprogress.css";

//  Icons
$fa-font-path:        "~@fortawesome/fontawesome-free/webfonts";

@import "~@fortawesome/fontawesome-free/scss/fontawesome";

@import "~@fortawesome/fontawesome-free/scss/brands";
@import "~@fortawesome/fontawesome-free/scss/solid";



.toasted-container.top-right {
  top: 1%;
  right: 1%;
}

.admin-button {
  a:hover {
    text-decoration: none !important;
  }
}

body {
  background-color: white;
}

.font-weight-bold {
  font-weight: 800 !important;
}

a {
  &:hover {
    text-decoration: none;
  }
}

.colorstrip{
  width: 100%; height: 2px;
  border-style: solid;
  border-color: $primary;
  background-color: $primary;
}

.navbar {
  .nav-link {
    font-size: 1.2rem;
    color: $brand-secondary !important;
    &:hover {
      color: darken($brand-secondary, 20%) !important;
    }
    &.router-link-active {
      color: darken($brand-secondary, 40%) !important;
    }
  }
}

.content {
  padding-top: 150px;
  padding-left: 50px;
  padding-right: 50px;
}
$mobile-brakepoint: map-get($grid-breakpoints, "sm");

@media only screen and (max-width: $mobile-brakepoint) {
  .content {
    padding-top: 200px;
  }
}

@media only screen and (max-width: map-get($grid-breakpoints, "md")) {
  .border-small-bottom {
    border-bottom: 1px solid #dee2e6 !important;
  }

  .border-small-left {
    border-left: 1px solid #dee2e6 !important;
  }
}

#home {
  h3 {
    color: $brand-secondary;
    font-weight: bolder;
    font-family: $font-family-headers;
  }
}

.text-blue {
  color: #1c8efc;
}

a.text-blue:hover {
  color: #1c6efc;
}

#top-menu {
  z-index: 100;
}

#gallery-detail .imgBox figure figcaption {
  background-color: transparent;
  text-align: center;
}
