// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway");
// Variables
@import "variables";
// Bootstrap
@import "~bootstrap/scss/bootstrap";
@import "~nprogress/nprogress.css";

//  Icons
$fa-font-path:        "~@fortawesome/fontawesome-free/webfonts";

@import "~@fortawesome/fontawesome-free/scss/fontawesome";

@import "~@fortawesome/fontawesome-free/scss/brands";
@import "~@fortawesome/fontawesome-free/scss/solid";

.toasted-container.top-right {
  top: 1%;
  right: 1%;
}

.admin-button {
  a:hover {
    text-decoration: none !important;
  }
}

.font-weight-bold {
  font-weight: 800 !important;
}
